.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: #fff;
  
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  
}

.main-scroll-area {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  
}

.main-content {
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 70px;
    padding: 10px;
  }

  .main-content {
    padding: 16px;
  }

  .layout-body {
    flex-direction: row; /* 사이드바는 계속 왼쪽 */
  }

  /* 필요 시 텍스트 숨기기 */
  .sidebar .label-text {
    display: none; /* 아이콘만 남기고 텍스트는 숨김 */
  }
}
