.messages-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages-layout {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.messages-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}
